*{
    padding: 0;
    margin: 0;
  }
  body{
    background-color:#15202b;
  }
  .xx{
    z-index: -99;
    position: fixed;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
  .dark{
    background-color: rgb(7 10 15 / 1);
    background-image: url("https://cursor.sh/_next/image?url=%2Flanding%2Fgradients%2Fleft-gradient%401x.png&w=2048&q=75"), url("https://cursor.sh/_next/image?url=%2Flanding%2Fgradients%2Fright-gradient%401x.png&w=1080&q=75");
    background-repeat: no-repeat;
    background-position: left,right;
  }
  .dark h3,p,label{
     color: white;
  }
 
  .container-random {
    z-index: 50;
    opacity: 1;
    width: 100%;
    height: 100vh;
    background-image: url("https://cursor.sh/_next/image?url=%2Flanding%2Fgradients%2Fleft-gradient%401x.png&w=2048&q=75"), url("https://cursor.sh/_next/image?url=%2Flanding%2Fgradients%2Fright-gradient%401x.png&w=1080&q=75");
    background-repeat: no-repeat;
    background-position: left,right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .title-random {
    color: #ffffff;
    text-align: center;
    font-size: 3.5rem; 
    font-weight: bold;
    margin-bottom: 1rem;
  }

  .description-random {
    color: rgba(255, 255, 255, 0.48);
    text-align: center;
    font-size: 1.25rem; 
    margin-bottom: 2rem;
  }

  .buttons-container-random {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4vh;
  }
  .sec2{
    background-color: #15202b;
  }
  

  .button-random {
    display: inline-block;
    padding: 0.25rem 1rem;
    border-radius: 9999px; 
    height: 7vh;
    font-size: 0.8125rem;
    font-weight: bold;
    color: #ffffff;
    background-color:rgba(56, 135, 253, 0.6);
    transition: background-color 0.2s, opacity 0.2s;
    position: relative;
    overflow: hidden;
    width: 20vh;
}

.button-random:hover {
      background-color: #3887FD;
  }

  .button-random:hover .overlay-random {
    opacity: 1;
  }

  .overlay-random {
    position: absolute;
    bottom: 0;
    left: 1.125rem;
    width: calc(100% - 2.25rem);
    height: 1px;
    background: linear-gradient(to right, #34D399 0%, #34D399 90%, #34D399 0%);
    transition: opacity 0.5s;
    opacity: 0;
  }

  .secondary-button-random {
    background-color: transparent;
    opacity: 0.8;
    width: 12vh;
    border: 2px solid grey;
    /* margin-top: 0.5rem; Adjust as needed */
    transition: opacity 0.2s;
  }

  .secondary-button-random:hover {
    opacity: 1;
  }
  .login{
    background-color: rgb(7 10 15 / 1);
}
.nn{
    position: relative; 
    
  }
  .gg{
    z-index: 100;
    position: absolute;
}
.g{
    color: aliceblue;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(7 10 15 / 1);
    background-image: url("https://cursor.sh/_next/image?url=%2Flanding%2Fgradients%2Fleft-gradient%401x.png&w=2048&q=75"), url("https://cursor.sh/_next/image?url=%2Flanding%2Fgradients%2Fright-gradient%401x.png&w=1080&q=75");
    background-repeat: no-repeat;
    background-position: left,right;
  }
  .k{
    background-color: rgb(7 10 15 / 1);
    background-image: url("https://cursor.sh/_next/image?url=%2Flanding%2Fgradients%2Fleft-gradient%401x.png&w=2048&q=75"), url("https://cursor.sh/_next/image?url=%2Flanding%2Fgradients%2Fright-gradient%401x.png&w=1080&q=75");
    background-repeat: no-repeat;
    background-position: left,right;
  }

  .p
  {
    background-color: #3d5664;
  }
  .tweet-container1 {
    width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fefefe;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.tweet-header1 {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.user-avatar1 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.user-avatar1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.tweet-container {
    width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.tweet-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.user-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.ff{
    width: 402px;
}
.user-info {
    flex-grow: 1;
}
.navee{
    background-color: #15202b;
}
.tweet-text {
    margin-bottom: 20px;
}

.tweet-image {
width: 100%;
height: 400px; 
border-radius: 10px;
background-size: cover;
background-position: center;
}
.tweet-text {
margin-bottom: 20px;
word-wrap:break-word;
}
.tweet-image img {
width: 100%;
height: 100%;
object-fit: cover; 
}

.user-info1 {
    flex-grow: 1;
}

.tweet-text1{
    margin-bottom: 20px;
}

.tweet-text1 {
margin-bottom: 20px;
word-wrap:break-word;
}
  h2{
    font-weight: 700;
  }
.sec2{
    left: 30%;
    overflow-y: auto; 
}
.tweet-container,.tweet-container1{
    background-color: #1c2938;
    color: white;
  }
.sec2::-webkit-scrollbar {
    width: 0;
}
